@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    color : rgb(8, 89, 182);
    font-family: 'Bangers', serif;
    font-weight: 500;
}

.hero-img {
    box-shadow: 0 0 15px #0e86e9b7;
}

.hero-name, .heading {
  /* text-shadow:1px 1px 20px black; */
  text-shadow: -1px 0 rgba(0, 0, 255, 0.5), 0 1px rgba(0, 0, 255, 0.5), 1px 0 rgba(0, 0, 255, 0.5), 0 -1px rgba(0, 0, 255, 0.5);
}

.heading-2 {
  text-shadow:1px 1px 30px white;
}

.heading-3 {
  text-shadow:1px 1px 20px black;
}