@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color : rgb(221, 245, 10);
  font-family: "Bangers", serif;
  font-weight: 500;
}

.hero-img {
  box-shadow: 0 0 15px #0e86e9b7;
}

.hero-name,
.heading {
  /* text-shadow:1px 1px 20px black; */
  text-shadow: -1px 0 rgba(0, 0, 0, 0.5), 0 1px rgba(0, 0, 0, 0.5),
    1px 0 rgba(0, 0, 0, 0.5), 0 -1px rgba(0, 0, 0, 0.5);
}

.heading-2 {
  text-shadow: 1px 1px 30px white;
}

.heading-3 {
  text-shadow: 1px 1px 20px black;
}

.user-wrapper {
  display: inline-block;
  position: relative;
}
.user-wrapper:after {
  font-family: "FontAwesome";
  content: "\f007";
  position: absolute;
  left: 6px;
  padding-top: 7px;
}

.pw-wrapper {
  display: inline-block;
  position: relative;
}
.pw-wrapper:after {
  font-family: "FontAwesome";
  content: "\f084";
  position: absolute;
  left: 6px;
  padding-top: 7px;
}

.email-wrapper {
  display: inline-block;
  position: relative;
}
.email-wrapper:after {
  font-family: "FontAwesome";
  content: "\f0e0";
  position: absolute;
  left: 6px;
  padding-top: 7px;
}
.health-bar {
  width: 200px;
  height: 20px;
  background-color: #eee;
  border: 1px solid #333;
  border-radius: 10px;
  overflow: hidden;
}

.health-bar-fill {
  height: 100%;
  background-color: #f00;
  transition: width 0.3s ease;
}